body{
    text-align: center;
    background-color: green;
    color: white;
    font-weight: bold;
}
h1{
    color: yellow;
    font-size: 70px;
}
button{
    background-color: yellow;
    color: green;
    font-size: 50px;
    width: 500px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 10px;
}
p{
    font-size: 30px;
}